# Environment
wp-config.php
.env

# Uploads
wp-content/uploads/

# Cache
wp-content/cache/
wp-content/upgrade/

# Debug logs
wp-content/debug.log
debug.log

# Dependencies
node_modules/
vendor/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
wp-admin/
wp-includes/
wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php`