.profile-cards-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 410px);
    gap: 32px;
    justify-content: center;
    padding: 60px;
}

.profile-card{
    background:#fff;
    border-radius:20px;
    padding:20px 15px;
    text-align:center;
    box-shadow:0 8px 24px rgba(0,0,0,.08);
    font-family: "Montserrat", sans-serif;

    /* Transition */
    transition: all 0.3s ease;
}

/* Hover Effect */
.profile-card:hover{
    transform: translateY(-8px);
    box-shadow:0 18px 40px rgba(0,0,0,.12);
}

.profile-card h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    color: #01319B;
}

.profile-card-line {
    width: 40px;
    height: 4px;

    background-color: #F5A623;

    margin: 12px auto;
    flex-shrink: 0;
}
.profile-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    color: #01319B;
}


.profile-card p {
    font-size: 15px;
    line-height: 1.6;
    margin-top: 15px;
}


/* Small tablet */
@media(max-width: 850px){

    .profile-cards-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }


    .profile-card {
        width: 100%;
        max-width: 410px;
        height: 270px;
        margin: 0 auto;
    }

}


/* Mobile */
@media(max-width: 480px){

    .profile-card {
        height: auto;
        min-height: 270px;
        padding: 24px;
    }


    .profile-card h2 {
        font-size: 40px;
    }


    .profile-card h3 {
        font-size: 20px;
    }


    .profile-card p {
        font-size: 14px;
    }

}